
.header {
    background: #03a8b4;
    height: 7vw;
    min-width: 100vw;
    width: 100vw;
    display: flex;
    justify-content: center;
}

.header__title {
    font-family: 'Luckiest Guy', cursive;
    color: #ffeedd;
    font-size: 4.3625vw;
    position: relative;
    top: 1.2vw;
    margin-left: 4vw;
}

.header__title:hover{
    transform: translateY(5px);
}